.line {
    border: 2px solid #b38371;
}
.title {
   text-align: center; 
   font-size: 20px;
}
.button {
    background-color: #b38371;
    border: none;
    color: white;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 1px;
    cursor: pointer;
    font-family: subway;
  }
img {
    width: 560px;
    flex-basis: 40%
}
.redtvnew {
    height: 150px;
    width: 230px;
}
body {
    background-color: #FAF9F6;
}
header{
    font-family: subway;
}
h4 {
    text-align: center;
    color: #695852;
}
.text {
    font-size: 20px;
  padding: 20px 10px;
  padding-bottom: 100px;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img.img1 {
    width: 500px;
    height: 200px;
}
.caption {
    display: block;
    font-family: infra;
    font-size: 20px;
    color: rgb(155, 94, 94);
}
.column {
    float: left;
    width: 33.33%;
    padding-left: 50px;
    padding-right: 50px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }